-c https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

addict==2.1.1
aiohttp
aiohttp-jinja2==1.4.2
aiokatcp
aioredis
aiozk==0.14.0
async-timeout
click==7.0                 # via Flask
dash==1.20.0
dash_core_components==1.16.0
dash_dangerously_set_inner_html==0.0.2
dash_html_components==1.1.3
dash_table==4.11.3
decorator
docker-pycreds==0.3.0      # via docker
docker==3.4.1
flask==1.1.1               # via dash
flask-compress==1.4.0      # via dash
hiredis                    # speeds up katsdptelstate
http-parser==0.9.0         # via pymesos
ipython-genutils==0.2.0    # via nbformat
itsdangerous==1.1.0        # via flask
jinja2
jsonschema
jupyter-core==4.4.0        # via nbformat
katportalclient
kazoo==2.8.0
monotonic==1.5             # via prometheus_async
nbformat==4.4.0            # via plotly
netifaces
networkx==2.0
numpy
plotly==4.0.0              # via dash
prometheus_async==18.1.0
prometheus_client==0.2.0
pydot==1.4.2
pymesos==0.3.6
retrying==1.3.3            # via plotly
rfc3987==1.3.7
traitlets==4.3.2           # via nbformat
websocket-client==0.45.0   # via docker
werkzeug==0.15.5           # via flask
wrapt==1.10.11             # via prometheus_async
yarl

katpoint @ git+https://github.com/ska-sa/katpoint
katdal @ git+https://github.com/ska-sa/katdal
katsdpmodels[aiohttp] @ git+https://github.com/ska-sa/katsdpmodels
katsdptelstate[aio] @ git+https://github.com/ska-sa/katsdptelstate
katsdpservices[argparse,aiomonitor] @ git+https://github.com/ska-sa/katsdpservices
