-c requirements.txt

aioresponses
async-solipsism>=0.7
mypy
open-mock-file
psutil
pyfakefs
pytest
pytest-asyncio>=0.23
pytest-cov
pytest-mock
pytest-timeout
# Static type annotations for mypy
types-decorator
types-setuptools
types-pyyaml
