{% macro versions() %}
["2.4", "2.5", "2.6", "3.0", "3.1", "3.2"]
{% endmacro %}

{% macro validate(version) %}
{% set input_additional = "false" if version >= "3.0" else "true" %}
{
    "$schema": "http://json-schema.org/draft-07/schema#",
    "definitions": {
        "stream_name": {
            "type": "string",
            "pattern": "^[-A-Za-z0-9_]+$"
        },
        "stream_type": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_.]+$"
        },
        "src_streams": {
            "type": "array",
            "items": {"$ref": "#/definitions/stream_name"}
        },
        "nonneg_integer": {
            "type": "integer",
            "minimum": 0
        },
        "positive_integer": {
            "type": "integer",
            "minimum": 1
        },
        "nonneg_number": {
            "type": "number",
            "minimum": 0.0
        },
        "positive_number": {
            "type": "number",
            "exclusiveMinimum": 0.0
        },
        "continuum_parameters": {
            "type": "object",
            "patternProperties": {
                "^[A-Za-z_][A-Za-z0-9_]*$": {}
            },
            "additionalProperties": false
        },
        "singleton": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1
        },
        "pair": {
            "type": "array",
            "minItems": 2,
            "maxItems": 2
        },
        "channel_range": {
            "$ref": "#/definitions/pair",
            "items": {"$ref": "#/definitions/nonneg_integer"}
        },
        "clock_ratio": {
            "type": "number",
            "minimum": 0.0,
            "default": 1.0
        },
        "simulate": {
            "oneOf": [
                {"type": "boolean"},
                {
                    "type": "object",
                    "properties": {
                        "clock_ratio": {"$ref": "#/definitions/clock_ratio"},
                        "start_time": {"$ref": "#/definitions/positive_number"},
                        "sources": {
                            "type": "array",
                            "items": {"type": "string"}
                        },
                        "antennas": {
                            "type": "array",
                            "items": {"type": "string"}
                        },
                        "center_freq": {"$ref": "#/definitions/positive_number"}
                    },
                    "additionalProperties": false
                }
            ],
            "default": false
        },
        "simulate_bool": {
            "type": "boolean",
            "default": false
        }
    },
    "type": "object",
    "required": [
{% if version < "3.0" %}
        "inputs",
        "config",
{% endif %}
        "outputs",
        "version"
    ],
    "additionalProperties": false,
    "properties": {
        "inputs": {
            "type": "object",
            "additionalProperties": false,
            "patternProperties": {
                "^[A-Za-z0-9_]+$": {
                    "type": "object",
                    "required": ["type", "url"],
                    "properties": {
{% if version >= "3.0" %}
                        "type": {
                            "enum": [
{% if version >= "3.1" %}
                                "dig.baseband_voltage",
{% endif %}
                                "cbf.antenna_channelised_voltage",
                                "cbf.baseline_correlation_products",
                                "cbf.tied_array_channelised_voltage",
                                "cam.http"
                            ]
                        },
{% else %}
                        "type": {"$ref": "#/definitions/stream_type"},
{% endif %}
                        "url": {"type": "string", "format": "uri"},
                        "src_streams": {"$ref": "#/definitions/src_streams"}
                    },
                    "allOf": [
{% if version >= "3.1" %}
                        {
                            "if": {"properties": {"type": {"const": "dig.baseband_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "url": {},
                                    "adc_sample_rate": {"$ref": "#/definitions/positive_number"},
                                    "centre_frequency": {"$ref": "#/definitions/positive_number"},
                                    "band": {"type": "string"},
                                    "antenna": {"type": "string"}
                                },
                                "additionalProperties": {{ input_additional }},
                                "required": ["adc_sample_rate", "centre_frequency", "band", "antenna"]
                            }
                        },
{% endif %}
                        {
                            "if": {"properties": {"type": {"const": "cbf.antenna_channelised_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "url": {},
                                    "antennas": {
                                        "type": "array",
                                        "minItems": 1,
                                        "items": {"type": "string"}
                                    },
{% if version < "3.0" %}
                                    "n_chans": {"$ref": "#/definitions/nonneg_integer"},
                                    "n_samples_between_spectra": {
                                        "$ref": "#/definitions/nonneg_integer"
                                    },
                                    "n_pols": {"type": "integer", "enum": [1, 2]},
                                    "adc_sample_rate": {"$ref": "#/definitions/positive_number"},
                                    "bandwidth": {"$ref": "#/definitions/positive_number"},
{% endif %}
                                    "instrument_dev_name": {"type": "string"}
                                },
                                "additionalProperties": {{ input_additional }},
                                "required": [
                                    "antennas",
{% if version < "3.0" %}
                                    "n_chans",
                                    "n_samples_between_spectra",
                                    "n_pols",
                                    "adc_sample_rate",
                                    "bandwidth",
{% endif %}
                                    "instrument_dev_name"
                                ]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "cbf.baseline_correlation_products"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "url": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
{% if version < "3.0" %}
                                    "int_time": {"type": "number"},
                                    "n_bls": {"$ref": "#/definitions/nonneg_integer"},
                                    "xeng_out_bits_per_sample": {"const": 32},
                                    "n_chans_per_substream": {
                                        "$ref": "#/definitions/nonneg_integer"
                                    },
                                    "simulate": {"$ref": "#/definitions/simulate"},
{% endif %}
                                    "instrument_dev_name": {"type": "string"}
                                },
                                "additionalProperties": {{ input_additional }},
                                "required": [
                                    "src_streams",
{% if version < "3.0" %}
                                    "int_time",
                                    "n_bls",
                                    "xeng_out_bits_per_sample",
                                    "n_chans_per_substream",
{% endif %}
                                    "instrument_dev_name"
                                ]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "cbf.tied_array_channelised_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "url": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
{% if version < "3.0" %}
                                    "beng_out_bits_per_sample": {"const": 8},
                                    "spectra_per_heap": {
                                        "$ref": "#/definitions/nonneg_integer"
                                    },
                                    "n_chans_per_substream": {
                                        "$ref": "#/definitions/nonneg_integer"
                                    },
                                    "simulate": {"$ref": "#/definitions/simulate"},
{% endif %}
                                    "instrument_dev_name": {"type": "string"}
                                },
                                "additionalProperties": {{ input_additional }},
                                "required": [
                                    "src_streams",
{% if version < "3.0" %}
                                    "beng_out_bits_per_sample",
                                    "spectra_per_heap",
                                    "n_chans_per_substream",
{% endif %}
                                    "instrument_dev_name"
                                ]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "cam.http"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "url": {}
                                },
                                "additionalProperties": {{ input_additional }},
                                "required": []
                            }
                        }
                    ]
                }
            }
        },
        "outputs": {
            "type": "object",
            "additionalProperties": false,
            "patternProperties": {
                "^[A-Za-z0-9_]+$": {
                    "type": "object",
                    "required": ["type"],
                    "properties": {
                        "type": {
                            "enum": [
{% if version >= "3.0" %}
                                "sim.cbf.antenna_channelised_voltage",
                                "sim.cbf.baseline_correlation_products",
                                "sim.cbf.tied_array_channelised_voltage",
{% endif %}
{% if version >= "3.1" %}
                                "sim.dig.baseband_voltage",
                                "gpucbf.antenna_channelised_voltage",
                                "gpucbf.baseline_correlation_products",
{% endif %}
                                "sdp.vis",
                                "sdp.cal",
                                "sdp.flags",
                                "sdp.continuum_image",
                                "sdp.spectral_image",
                                "sdp.beamformer",
                                "sdp.beamformer_engineering"
                            ]
                        },
                        "src_streams": {"$ref": "#/definitions/src_streams"}
                    },
                    "additionalProperties": true,
                    "allOf": [
                        {
                            "if": {"properties": {"type": {"const": "sdp.vis"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "output_int_time": {"type": "number"},
                                    "output_channels": {"$ref": "#/definitions/channel_range"},
                                    "continuum_factor": {
                                        "$ref": "#/definitions/positive_integer"
                                    },
                                    "archive": {"type": "boolean"},
                                    "excise": {"type": "boolean", "default": true}
                                },
                                "required": [
                                    "src_streams", "output_int_time", "continuum_factor"
                                ],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sdp.beamformer_engineering"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/pair"},
                                    "output_channels": {"$ref": "#/definitions/channel_range"},
                                    "store": {
                                        "enum": ["ram", "ssd"]
                                    }
                                },
                                "required": ["src_streams", "store"],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sdp.beamformer"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/pair"}
                                },
                                "required": ["src_streams"],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sdp.cal"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "parameters": {
                                        "type": "object",
                                        "properties": {
                                            "preferred_refants": {
                                                "type": "array",
                                                "items": {"type": "string"},
                                                "minItems": 1,
                                                "uniqueItems": true
                                            },
                                            "k_solint": {"$ref": "#/definitions/positive_number"},
                                            "k_chan_sample": {"$ref": "#/definitions/positive_integer"},
                                            "k_bchan": {"$ref": "#/definitions/nonneg_integer"},
                                            "k_echan": {"$ref": "#/definitions/nonneg_integer"},
                                            "kcross_chanave": {"$ref": "#/definitions/positive_integer"},
                                            "bp_solint": {"$ref": "#/definitions/positive_number"},
                                            "g_solint": {"$ref": "#/definitions/positive_number"},
                                            "g_bchan": {"$ref": "#/definitions/nonneg_integer"},
                                            "g_echan": {"$ref": "#/definitions/nonneg_integer"},
                                            "rfi_calib_nsigma": {"$ref": "#/definitions/positive_number"},
                                            "rfi_targ_nsigma": {"$ref": "#/definitions/positive_number"},
                                            "rfi_windows_freq": {
                                                "type": "array",
                                                "items": {"$ref": "#/definitions/positive_integer"},
                                                "minItems": 1,
                                                "uniqueItems": true
                                            },
                                            "rfi_average_freq": {"$ref": "#/definitions/positive_integer"},
                                            "rfi_targ_spike_width_freq": {"$ref": "#/definitions/positive_number"},
                                            "rfi_calib_spike_width_freq": {"$ref": "#/definitions/positive_number"},
                                            "rfi_spike_width_time": {"$ref": "#/definitions/positive_number"},
                                            "rfi_extend_freq": {"$ref": "#/definitions/nonneg_integer"},
                                            "rfi_freq_chunks": {"$ref": "#/definitions/positive_integer"}
                                        },
                                        "additionalProperties": false
                                    },
{% if version < "3.0" %}
                                    "models": {
                                        "type": "object",
                                        "additionalProperties": {"type": "string"}
                                    },
{% endif %}
                                    "max_scans": {"$ref": "#/definitions/positive_integer"},
                                    "buffer_time": {"$ref": "#/definitions/positive_number"}
                                },
                                "required": ["src_streams"],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sdp.flags"}}},
                            "then": {
                                "properties": {
                                    "type": {},
{% if version < "3.0" %}
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "calibration": {"$ref": "#/definitions/singleton"},
{% else %}
                                    "src_streams": {"%ref": "#/definitions/pair"},
{% endif %}
                                    "rate_ratio": {
                                        "type": "number",
                                        "exclusiveMinimum": 1.0
                                    },
                                    "archive": {"type": "boolean"}
                                },
                                "required": [
                                    "src_streams",
{% if version < "3.0" %}
                                    "calibration",
{% endif %}
                                    "archive"
                                ],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sdp.continuum_image"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "uvblavg_parameters": {"$ref": "#/definitions/continuum_parameters"},
                                    "mfimage_parameters": {"$ref": "#/definitions/continuum_parameters"},
{% if version >= "2.5" %}
                                    "min_time": {"$ref": "#/definitions/positive_number"},
{% endif %}
                                    "max_realtime": {"$ref": "#/definitions/nonneg_number"}
                                },
                                "required": ["src_streams"],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sdp.spectral_image"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {
                                        "type": "array",
                                        "minItems": 1,
                                        "maxItems": 2
                                    },
{% if version >= "2.5" %}
                                    "min_time": {"$ref": "#/definitions/positive_number"},
{% endif %}
{% if version >= "2.6" %}
                                    "parameters": {
                                        "type": "object",
                                        "properties": {
                                            "robustness": {"type": "number"},
                                            "grid_oversample": {"$ref": "#/definitions/positive_integer"},
                                            "kernel_image_oversample": {"$ref": "#/definitions/positive_integer"},
                                            "w_slices": {"$ref": "#/definitions/positive_integer"},
                                            "aa_width": {"$ref": "#/definitions/positive_number"},
                                            "kernel_width": {"$ref": "#/definitions/positive_integer"},
                                            "eps_w": {"$ref": "#/definitions/positive_number"},
                                            "primary_beam_cutoff": {"$ref": "#/definitions/positive_number"},
                                            "psf_cutoff": {"$ref": "#/definitions/positive_number"},
                                            "psf_limit": {"$ref": "#/definitions/positive_number"},
                                            "loop_gain": {"$ref": "#/definitions/positive_number"},
                                            "major_gain": {"$ref": "#/definitions/positive_number"},
                                            "threshold": {"$ref": "#/definitions/positive_number"},
                                            "major": {"$ref": "#/definitions/positive_integer"},
                                            "minor": {"$ref": "#/definitions/positive_integer"},
                                            "border": {"$ref": "#/definitions/positive_number"},
                                            "clean_mode": {
                                                "type": "string",
                                                "enum": ["I", "IQUV"]
                                            }
                                        },
                                        "additionalProperties": false
                                    },
{% endif %}
                                    "output_channels": {"$ref": "#/definitions/channel_range"}
                                },
                                "required": ["src_streams"],
                                "additionalProperties": false
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sim.cbf.antenna_channelised_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "n_chans": {"$ref": "#/definitions/positive_integer"},
                                    "antennas": {
                                        "type": "array",
                                        "minItems": 1,
                                        "items": {"type": "string"}
                                    },
                                    "band": {"type": "string"},
                                    "bandwidth": {"$ref": "#/definitions/positive_number"},
                                    "adc_sample_rate": {"$ref": "#/definitions/positive_number"},
                                    "centre_frequency": {"$ref": "#/definitions/positive_number"}
                                },
                                "additionalProperties": false,
                                "required": ["n_chans", "antennas", "band", "bandwidth", "adc_sample_rate", "centre_frequency"]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sim.cbf.baseline_correlation_products"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "int_time": {"$ref": "#/definitions/positive_number"},
                                    "n_chans_per_substream": {"$ref": "#/definitions/positive_integer"},
                                    "n_endpoints": {"$ref": "#/definitions/positive_integer"}
                                },
                                "additionalProperties": false,
                                "required": ["src_streams", "int_time", "n_endpoints"]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sim.cbf.tied_array_channelised_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "spectra_per_heap": {"$ref": "#/definitions/positive_integer"},
                                    "n_chans_per_substream": {"$ref": "#/definitions/positive_integer"},
                                    "n_endpoints": {"$ref": "#/definitions/positive_integer"}
                                },
                                "additionalProperties": false,
                                "required": ["src_streams", "n_endpoints"]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "sim.dig.baseband_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "adc_sample_rate": {"$ref": "#/definitions/positive_number"},
                                    "centre_frequency": {"$ref": "#/definitions/positive_number"},
                                    "band": {"type": "string"},
                                    "antenna": {"type": "string"},
                                    "command_line_extra": {
                                        "type": "array",
                                        "items": {"type": "string"}
                                    }
                                },
                                "additionalProperties": false,
                                "required": ["adc_sample_rate", "centre_frequency", "band", "antenna"]
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "gpucbf.antenna_channelised_voltage"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"minItems": 2},
                                    "n_chans": {"$ref": "#/definitions/positive_integer"},
                                    "input_labels": {
                                        "type": "array",
                                        "items": {"$ref": "#/definitions/stream_name"},
                                        "uniqueItems": true
                                    },
                                    "w_cutoff": {"$ref": "#/definitions/positive_number", "default": 1.0},
                                    "command_line_extra": {
                                        "type": "array",
                                        "items": {"type": "string"}
                                    }
                                },
                                "additionalProperties": false,
                                "required": ["src_streams", "n_chans"],
{# If input_labels is absent, src_streams must contain unique elements #}
                                "if": {"not": {"required": ["input_labels"]}},
                                "then": {
                                    "properties": {
                                        "src_streams": {"uniqueItems": true}
                                    }
                                }
                            }
                        },
                        {
                            "if": {"properties": {"type": {"const": "gpucbf.baseline_correlation_products"}}},
                            "then": {
                                "properties": {
                                    "type": {},
                                    "src_streams": {"$ref": "#/definitions/singleton"},
                                    "int_time": {"$ref": "#/definitions/positive_number"},
                                    "command_line_extra": {
                                        "type": "array",
                                        "items": {"type": "string"}
                                    }
                                },
                                "additionalProperties": false,
                                "required": ["src_streams", "int_time"]
                            }
                        }
                    ]
                }
            }
        },
        "config": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
                "develop": {
                    "oneOf": [
{% if version >= "3.2" %}
                        {
                            "type": "object",
                            "properties": {
                                "any_gpu": {"type": "boolean", "default": false},
                                "disable_ibverbs": {"type": "boolean", "default": false},
                                "less_resources": {"type": "boolean", "default": false}
                            },
                            "additionalProperties": false
                        },
{% endif %}
                        {"type": "boolean", "default": false}
                    ],
                    "default": false
                },
                "wrapper": {"type": "string", "format": "uri"},
                "image_tag": {"type": "string" },
{% if version >= "3.1" %}
                "image_overrides": {
                    "type": "object",
                    "additionalProperties": {"type": "string"}
                },
{% endif %}
                "service_overrides": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                            "config": { "type": "object" },
                            "host": { "type": "string" },
                            "taskinfo": { "type": "object" }
                        }
                    }
                }
            }
        },
{% if version >= "3.0" %}
        "simulation": {
            "clock_ratio": {"$ref": "#/definitions/clock_ratio"},
            "start_time": {"$ref": "#/definitions/positive_number"},
            "sources": {
                "type": "array",
                    "items": {"type": "string"}
            },
            "antennas": {
                "type": "array",
                "items": {"type": "string"}
            }
        },
{% endif %}
        "version": {
            "type": "string",
            "const": "{{version}}"
        }
    }
}
{% endmacro %}
