<!doctype html>
<html>
    <head>
        <title>Available signal displays</title>
    </head>
    <body>
        <h1>Available signal displays</h1>
{% if servers %}
        <ul>
{% for (array, stream) in servers.keys() %}
    <li>{{array|e}} <a href="/{{array|e}}/{{stream|e}}/">{{stream|e}}</a></li>
{% endfor %}
        </ul>
{% else %}
        <p>No signal displays active</p>
{% endif %}
    </body>
</html>
