<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap-4.3.1.min.css"/>
    <title>GUIs</title>
  </head>
  <body>
    <div class="container">
      <h1>Not found</h1>
      <p>
      The requested GUI for subarray-product <code>{{ request.match_info.product }}</code> was not
      found. Either the URL is incorrect or the subarray-product is not
      currently configured.
      </p>
    </div>
  </body>
</html>
